.footer {
  height: 3.5rem;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0 1.5rem;
}
.footer p {
  margin-bottom: 0;
}
.copyright {
  text-transform: capitalize;
}
.company,
.creator a {
  color: var(--clr-black);
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}
.socialLinks {
  text-align: center;
}
.socialLink {
  display: inline-block;
  color: var(--clr-black);
  font-size: 1.5rem;
}
.socialLink:not(:last-child) {
  margin-right: 2.5rem;
}
.creator {
  text-transform: capitalize;
  justify-self: flex-end;
}
