.checkoutPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.checkoutPageHeading {
  text-align: center;
  padding-bottom: 1rem;
}
.checkoutPageContent {
  margin-top: 4rem;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.addressForm {
  width: 90%;
  max-width: 18rem;
  border: 1px solid #ccc;
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
}
.addressFormControlsContainer {
  margin-top: 1rem;
}
@media screen and (min-width: 576px) {
  .addressForm {
    max-width: 25rem;
  }
}
