.detailsPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.loaderContainer {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.detailsPageContent {
  padding: 1.5rem 2.5rem;
  margin-top: 4rem;
  flex: 1;
}
.subtitleContent {
  font-weight: 700;
}
.durationAndDateContainer {
  display: grid;
  padding: 1rem 0;
}
.durationContainer,
.dateContainer {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.durationContainer {
  padding-bottom: 1rem;
}
.icon {
  margin-right: 0.35rem;
}
.originalPrice {
  text-decoration: line-through;
}
.discountedPrice {
  font-size: 1rem;
  font-weight: 700;
}
.btnContainer {
  margin: 1.5rem 0;
}
.previewButton {
  background: var(--clr-black) !important;
  color: var(--clr-white) !important;
}
.skillsContainer {
  box-shadow: var(--light-shadow);
  padding: 1.25rem 1rem;
  border-radius: var(--radius);
}
.skills {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.skill {
  background: var(--clr-secondary);
  border-radius: 1.5rem;
  padding: 0.25rem 0.5rem;
  color: var(--clr-white);
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
.chaptersContainer {
  max-height: 25rem;
  overflow-y: auto;
}
.chaptersHeading {
  background: var(--clr-grey-dark);
  color: var(--clr-white);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  text-align: center;
  padding: 0.25rem 0;
}
.chapters {
  padding: 1rem;
  background: var(--clr-grey-light);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
.chapter {
  padding: 0.25rem 0;
}
@media screen and (min-width: 320px) {
  .durationAndDateContainer {
    grid-template-columns: 1fr 1fr;
  }
  .durationContainer {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .detailsPageContent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .btnContainer {
    margin-top: 0;
  }
  .previewBtnContainer {
    margin-top: 1rem;
  }
  .rightColumn {
    width: 30%;
    max-width: 25rem;
  }
  .enrolMeBtnContainer {
    text-align: center;
  }
}
