.homePage {
  height: 100vh;
}
.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto 1fr auto;
}
.titleBar {
  max-height: 2.25rem;
  text-align: center;
}
.titleBar h4 {
  color: var(--clr-black);
  background: var(--clr-grey-light);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 2.25rem;
}
